@font-face {
  font-family: "Poppins";
  src: url("~/src/app/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Voltaire";
  src: url("~/src/app/fonts/Voltaire-Regular.ttf") format("truetype");
}

@import "react-toastify/dist/ReactToastify.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.title {
  font-family: "Voltaire", sans-serif;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 25px; /* Width of the scrollbar */
  height: 25px; /* Height of the horizontal scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: gray; /* Background of the scrollbar (track) */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: orange; /* Color of the scrollbar handle (thumb) */
  border-radius: 10px; /* Rounded corners for the thumb */
  border: 2px solid gray; /* Border around the thumb to create a gap effect */
}

/* Firefox Support */
.custom-scrollbar {
  scrollbar-width: thin; /* Make scrollbar thinner */
  scrollbar-color: #fa8811 #faefd3; /* Thumb color and track color */
}

.scroll-none {
  scrollbar-width: none; /* Firefox */
  -webkit-overflow-scrolling: touch; /* smooth scrolling for iOS */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  overflow: -moz-scrollbars-none; /* Legacy Firefox browsers */
}

.scroll-none::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
